In [4]:
import datetime
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_csv('sp_500.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,"Sep 01, 2022","3,936.73","4,119.28","3,610.40","3,640.47","3,640.47","88,667,050,000"
1,"Aug 01, 2022","4,112.38","4,325.28","3,954.53","3,955.00","3,955.00","78,088,520,000"
2,"Jul 01, 2022","3,781.00","4,140.15","3,721.56","4,130.29","4,130.29","68,021,140,000"
3,"Jun 01, 2022","4,149.78","4,177.51","3,636.87","3,785.38","3,785.38","86,799,060,000"
4,"May 01, 2022","4,130.61","4,307.66","3,810.32","4,132.15","4,132.15","89,128,130,000"
...,...,...,...,...,...,...,...
448,"May 01, 1985",179.83,189.98,178.35,189.55,189.55,"2,350,340,000"
449,"Apr 01, 1985",180.66,183.61,177.86,179.83,179.83,"1,981,880,000"
450,"Mar 01, 1985",181.18,183.89,176.53,180.66,180.66,"2,153,090,000"
451,"Feb 01, 1985",179.63,183.95,177.75,181.18,181.18,"2,194,620,000"
452,"Jan 01, 1985",167.2,180.27,163.36,179.63,179.63,"2,673,710,000"

In [7]:
df.dtypes

Date         object
Open         object
High         object
Low          object
Close        object
Adj Close    object
Volume       object
dtype: object