In [26]:
import datetime
import matplotlib.pyplot as plt
import pandas as pd

In [38]:
df = pd.read_csv('country_data.csv')
df

,Rank,Country,Players,Points,Number,Games,Badges,XP,Hours
0,0,Unknown,135643,86532124.75,137664177,31410891,5453964,2252121996,412471186.4
1,1,United States,59698,52132889.98,84410455,20379201,2569218,974895706,236137390.5
2,2,Russian Federation,31058,24753943.31,37279292,7247856,1657378,693424533,104656082.0
3,3,Germany,21750,18214362.15,28423805,6658939,1381807,590848431,86523185.4
4,4,United Kingdom (Great Britain),16225,15635912.83,25101789,5780703,786975,294574732,68131144.6
...,...,...,...,...,...,...,...,...,...
248,248,Mauritania,10,3231.50,5663,788,144,43292,24574.4
249,249,French Guiana,7,2587.67,5310,1100,81,16709,20665.0
250,250,Anguilla,14,2089.76,4749,626,116,21427,18169.2
251,251,"Moldova, Republic of",2,617.02,752,129,116,17486,1939.9
252,252,Yugoslavia,1,0.54,1,3,2,156,13.9

In [28]:
df.dtypes

Rank         int64
Country     object
Players      int64
Points     float64
Number       int64
Games        int64
Badges       int64
XP           int64
Hours      float64
dtype: object

In [29]:
df.shape

(253, 9)

In [30]:
df.describe()

,Rank,Players,Points,Number,Games,Badges,XP,Hours
count,253.000000,253.000000,2.530000e+02,2.530000e+02,2.530000e+02,2.530000e+02,2.530000e+02,2.530000e+02
mean,126.000000,1836.355731,1.389446e+06,2.187685e+06,5.158577e+05,9.156419e+04,3.623566e+07,6.476821e+06
std,73.179004,9777.432248,6.817831e+06,1.084677e+07,2.517633e+06,4.171119e+05,1.700937e+08,3.185529e+07
min,0.000000,1.000000,5.400000e-01,1.000000e+00,3.000000e+00,2.000000e+00,1.560000e+02,1.390000e+01
25%,63.000000,41.000000,2.191154e+04,3.788700e+04,7.069000e+03,1.427000e+03,4.423540e+05,1.314644e+05
50%,126.000000,102.000000,5.478048e+04,9.217000e+04,2.060400e+04,4.260000e+03,1.762010e+06,3.501921e+05
75%,189.000000,502.000000,2.908862e+05,4.827490e+05,1.040740e+05,2.629900e+04,1.021018e+07,1.667536e+06
max,252.000000,135643.000000,8.653212e+07,1.376642e+08,3.141089e+07,5.453964e+06,2.252122e+09,4.124712e+08

In [33]:
cleaned_country_df = df.iloc[1:]

cleaned_country_df

top_10_df = df.iloc[0:10]

top_10_df

,Rank,Country,Players,Points,Number,Games,Badges,XP,Hours
0,0,Unknown,135643,86532124.75,137664177,31410891,5453964,2252121996,412471186.4
1,1,United States,59698,52132889.98,84410455,20379201,2569218,974895706,236137390.5
2,2,Russian Federation,31058,24753943.31,37279292,7247856,1657378,693424533,104656082.0
3,3,Germany,21750,18214362.15,28423805,6658939,1381807,590848431,86523185.4
4,4,United Kingdom (Great Britain),16225,15635912.83,25101789,5780703,786975,294574732,68131144.6
5,5,Canada,12483,10999031.70,17436104,4012880,606502,239174494,49354715.3
6,6,China,15605,10847234.66,17138407,6168652,1100485,506417923,54823363.8
7,7,Brazil,15569,10136859.28,16173137,3918546,774781,247132541,54157619.5
8,8,Poland,11358,9085626.49,13802221,3123884,523117,178278957,39163756.6
9,9,Japan,9548,8802348.47,13143190,3328328,698257,265270862,38756414.3

In [36]:
top_10_df = cleaned_country_df.iloc[0:10]

top_10_df

,Rank,Country,Players,Points,Number,Games,Badges,XP,Hours
1,1,United States,59698,52132889.98,84410455,20379201,2569218,974895706,236137390.5
2,2,Russian Federation,31058,24753943.31,37279292,7247856,1657378,693424533,104656082.0
3,3,Germany,21750,18214362.15,28423805,6658939,1381807,590848431,86523185.4
4,4,United Kingdom (Great Britain),16225,15635912.83,25101789,5780703,786975,294574732,68131144.6
5,5,Canada,12483,10999031.70,17436104,4012880,606502,239174494,49354715.3
6,6,China,15605,10847234.66,17138407,6168652,1100485,506417923,54823363.8
7,7,Brazil,15569,10136859.28,16173137,3918546,774781,247132541,54157619.5
8,8,Poland,11358,9085626.49,13802221,3123884,523117,178278957,39163756.6
9,9,Japan,9548,8802348.47,13143190,3328328,698257,265270862,38756414.3
10,10,France,7675,7817051.60,11611862,2362871,384431,130107826,29692105.0